.green{
  background-color: green;
}

div{
  width: 950px;
  height: 180px;
  padding: 200px;
  position:relative;
}
div.goal1{
  border: 4px solid white;
  width: 880px;
  height: 110px;
  position: absolute;
  top: 30px;
  left:30px;
}

div.goal1 #one{
  border:4px solid white;
  border-left: 0;
  width: 180px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 130px;
}

div.goal1 #one .net1{
  border:4px solid white;
  border-left: 0;
  width:90px;
  height: 125px;
  position: absolute;
  left:0;
  bottom: 60px;
}

div.goal1 #two{
  border:4px solid white;
  border-right: 0;
  width: 180px;
  height: 250px;
  position: absolute;
  right: 0;
  top: 130px;
}

div.goal1 #two .net2{
  border:4px solid white;
  border-right: 0;
  width:90px;
  height: 125px;
  position: absolute;
  right: 0;
  bottom: 60px;
}

div .goal1 #circle{
  border: 4px solid white;
  border-radius: 105px;
  width: 210px;
  height: 210px;
  position: absolute;
  top: 150px;
  right: 530px;
}

div .goal1 #line{
  background-color: white;
  height: 505px;
  position: absolute;
  left: 635px;
  top:0;
  padding: 3px;
}

div .goal1 span i{
 font-size: 40px;
}

div .goal1 .icon1{
  position:absolute;
  top: 120px;
  left:160px
}

div .goal1 .icon2{
  position:absolute;
  top: 50px;
  right:580px
}

div .goal1 .icon3{
  position:absolute;
  bottom: 120px;
  right:200px
}
